<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
    <customErrors mode="Off"/>
  </system.web>
  <!-- Describe service model -->
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <bindings>
      <!-- SOAP - style binding for WSDL description and code-based interaction  -->
      <basicHttpBinding>
        <!-- http binding for unsecure interaction -->
        <binding name="HttpBinding">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <!-- http binding for secure interaction -->
        <binding name="HttpsBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
      <!-- REST - style binding for REST usage and browser usage -->
      <webHttpBinding>
        <!-- http binding for unsecure interaction -->
        <binding name="WebHttpBinding">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <!-- http binding for secure interaction -->
        <binding name="WebHttpsBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <!-- Set up service endpoints -->
    <services>
      <service behaviorConfiguration="serviceBehavior" name="UsefulUtilities.DocuWareService.DWService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBinding"
          contract="UsefulUtilities.DocuWareService.IDWService" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpsBinding"
          contract="UsefulUtilities.DocuWareService.IDWService" />
        <endpoint address="web" behaviorConfiguration="endpointBehavior"
          binding="webHttpBinding" bindingConfiguration="WebHttpBinding"
          contract="UsefulUtilities.DocuWareService.IDWService" />
        <endpoint address="web" behaviorConfiguration="endpointBehavior"
          binding="webHttpBinding" bindingConfiguration="WebHttpsBinding"
          contract="UsefulUtilities.DocuWareService.IDWService" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="UsefulUtilities.DocuWareService.DWServiceConfig">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBinding"
          contract="UsefulUtilities.DocuWareService.IDWServiceConfig" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpsBinding"
          contract="UsefulUtilities.DocuWareService.IDWServiceConfig" />
        <endpoint address="web" behaviorConfiguration="endpointBehavior"
          binding="webHttpBinding" bindingConfiguration="WebHttpBinding"
          contract="UsefulUtilities.DocuWareService.IDWServiceConfig" />
        <endpoint address="web" behaviorConfiguration="endpointBehavior"
          binding="webHttpBinding" bindingConfiguration="WebHttpsBinding"
          contract="UsefulUtilities.DocuWareService.IDWServiceConfig" />
      </service>
    </services>
    <!-- Set up behavior for http requests-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <!-- Configure web service options -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!-- Allow directories to be viewable in a browser -->
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>
